<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#">IDEA_STATION</a>

    <!-- Navbar Toggler for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item flex-fill text-center">
          <a class="nav-link active" routerLink="/global-feed" routerLinkActive="active-link">
            <i class="bi bi-globe2"></i> Global Feed
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" routerLink="/feed" routerLinkActive="active-link">
            <i class="bi bi-newspaper"></i> Feed
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" routerLink="/login" routerLinkActive="active-link">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active-link">
            <i class="bi bi-person-plus"></i> Signup
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
