
<div *ngIf="ideas.length > 0;" class="feed-container">
    <div *ngFor="let idea of ideas" class="idea-card">
        <h5>{{ idea.title }}</h5>
        <h6>Posted by {{idea.user.username}}</h6>
        <p class="idea-description">{{ idea.description }}</p>
        <p class="idea-stats">
            <span>👍 {{ idea.approvals }}</span> | 
            <span>👎 {{ idea.disapprovals }}</span>
        </p>
        <div class="vote-buttons">
            <button class="approve-btn" (click)="vote(idea.id, 'approve')">👍 Approve</button>
            <button class="disapprove-btn" (click)="vote(idea.id, 'disapprove')">👎 Disapprove</button>
        </div>
    </div>
</div>
